.header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: TT Hoves;

  .blockright {
    width: 770px;
  }
}

.header__menu li:not(:last-child) {
  margin-right: 80px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    a {
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
    }
  }
}

.header__menu__link {
  padding-bottom: 3px;
}

.link--current {
  border-top: 1px solid rgba(51, 51, 51, 1);
  border-bottom: 1px solid rgba(51, 51, 51, 1);
}

.header__mainlogo {
  width: 70px;
}
