.tasks {
  padding-top: 60px;
  padding-bottom: 60px;

  .nameSection {
    margin-bottom: 60px;
  }
}

.taskItem {
  display: flex;
  width: 50%;
}

.taskNumber {
  font-family: Inter;
  font-size: 200px;
  line-height: 0.85;
  font-weight: 900;
  color: #f2f2f2;
  margin-right: 10px;
}

.taskList {
  display: flex;
  justify-content: space-between;
}

.taskDescription {
  font-family: TT Hoves;
  font-size: 22px;
  line-height: 1.64;
  color: #333333;
  font-weight: 400;
}

.taskDescription--first {
  width: 279px;
}
