@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container {
  max-width: 480px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: unset;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: unset;
    width: 1200px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .blockright {
  width: 770px;
  border: 1px solid pink;
}

.header__menu li:not(:last-child) {
  margin-right: 80px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
  border: 1px solid green;
}
.header__nav ul a {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.header__mainlogo {
  width: 70px;
}

.home {
  padding-bottom: 62px;
}

.home__container {
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
}
.home__container .blockright {
  width: 770px;
  border: 1px solid pink;
  position: relative;
}
.home__container .blockright button {
  position: absolute;
  left: 0;
  bottom: 0;
}
.home__container .blockleft {
  width: calc(100% - 770px);
  padding-top: 336px;
}
.home__container .blockleft .mainName,
.home__container .blockleft button,
.home__container .blockleft .counter {
  margin-bottom: 80px;
}
.home__container .blockleft button {
  width: 53px;
  height: 53px;
  border: none;
}
.home__container .blockleft .button__arrow__left {
  background-image: url(../images/arrow-left.svg);
  margin-right: 10px;
}
.home__container .blockleft .button__arrow__right {
  background-image: url(../images/arrow-right.svg);
}

.mainPhoto {
  width: 100%;
  display: block;
}

.mainName {
  font-size: 64;
  line-height: 1;
}

.wordHome {
  color: #333333;
}

.counter {
  display: flex;
  width: 142px;
  justify-content: space-between;
}
.counter p {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.button__look {
  display: flex;
  align-items: center;
  padding: 24px 50px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}
.button__look::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  stroke: #ffffff;
  margin-left: 5px;
}

.about {
  padding-top: 62px;
  padding-bottom: 62px;
}

.about__container {
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
}

.about__container--center {
  display: flex;
  align-items: flex-end;
}

.about__photos {
  display: flex;
  align-items: flex-end;
}

.example__photo1 {
  width: 270px;
  margin-bottom: 30px;
}

.example__photo2 {
  width: 270px;
  display: block;
}

.example__photo3 {
  width: 270px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.about__photos--relative {
  margin-right: 30px;
  position: relative;
  top: 30px;
}

.about__info {
  width: 400px;
  margin-bottom: 30px;
}

.nameSection {
  font-size: 64px;
  line-height: 1;
  color: #bdbdbd;
  font-weight: 300;
  margin-bottom: 30px;
}
.nameSection::first-letter {
  text-transform: uppercase;
}

.descriptionCompany {
  font-family: TT Hoves;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #000000;
  margin-bottom: 30px;
}

.about__read {
  display: flex;
  align-items: center;
  padding: 24px 93px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}
.about__read::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  stroke: #ffffff;
  margin-left: 5px;
}

.tasks {
  padding-top: 62px;
  padding-bottom: 62px;
}
.tasks .nameSection {
  margin-bottom: 60px;
}

.taskItem {
  display: flex;
  width: 50%;
}

.taskNumber {
  font-family: Inter;
  font-size: 200px;
  line-height: 0.85;
  font-weight: 900;
  color: #f2f2f2;
  margin-right: 10px;
}

.taskList {
  display: flex;
  justify-content: space-between;
}

.taskDescription {
  font-family: TT Hoves;
  font-size: 22px;
  line-height: 1.64;
  color: #333333;
  font-weight: 400;
}

.taskDescription--first {
  width: 279px;
}

.projects {
  padding-top: 62px;
  padding-bottom: 62px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectItem {
  position: relative;
  height: 255px;
  overflow: hidden;
}
.projectItem:nth-child(-n+2) {
  margin-bottom: 60px;
}
.projectItem:hover {
  cursor: pointer;
}
.projectItem:hover .project__overlay {
  visibility: visible;
  transform: translateY(0);
}

.project__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  visibility: hidden;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 500ms;
}

.project__details {
  width: 80%;
}

.projectPhoto {
  display: block;
}

.projectPhoto--1,
.projectPhoto--2 {
  width: 570px;
}

.projectPhoto--3 {
  width: 270px;
}

.projectPhoto--4 {
  width: 470px;
}

.projectPhoto--5 {
  width: 370px;
}

.projectName {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
}

.project__button__details {
  display: flex;
  align-items: center;
  font-size: 12px;
  background: transparent;
  border: none;
  color: #ffffff;
}
.project__button__details::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right–white.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.project__button__allprojects {
  padding: 24px 39px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: none;
  margin-left: auto;
  font-size: 12px;
  line-height: 1;
}
.project__button__allprojects::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right–white.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.contact {
  padding-top: 62px;
  padding-bottom: 62px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form input,
.contact__form textarea {
  padding: 15px 21px;
  width: 391px;
  background-color: #f3f3f3;
  color: #8d8d8d;
  font-family: TT Hoves;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-align: left;
  border: none;
}

.contact__form__label {
  margin-bottom: 10px;
}

.policy {
  font-family: TT Hoves;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.03em;
  text-align: left;
  color: #333333;
  width: 391px;
  padding-left: 40px;
  margin-bottom: 21px;
}

.contact__sendForm {
  padding: 30px 47px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: none;
  margin-right: auto;
  font-size: 12px;
  line-height: 1;
}
.contact__sendForm::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right–white.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.contact__formAndPhoto {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
}

.contact__photo {
  width: 749px;
  display: block;
}

.contact__form__label--last {
  height: 147px;
}

.contact__form__input--last {
  height: 147px;
  resize: none;
}/*# sourceMappingURL=index.css.map */