@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: TT Hoves;
}
button:hover, button:focus {
  background-color: green;
}

:root {
  --main-color: #ffffff;
  --second-color: #333333;
  --biggest-size: 64px;
  --middle-size: 24px;
  --small-size: 14px;
  --smallest-size: 12px;
  --biggest-weight: ;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: unset;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: unset;
    width: 1200px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: TT Hoves;
}
.header .blockright {
  width: 770px;
}

.header__menu li:not(:last-child) {
  margin-right: 80px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
}
.header__nav ul a {
  font-size: var(--smallest-size);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.header__menu__link {
  padding-bottom: 3px;
}

.link--current {
  border-top: 1px solid rgb(51, 51, 51);
  border-bottom: 1px solid rgb(51, 51, 51);
}

.header__mainlogo {
  width: 70px;
}

.home {
  padding-bottom: 60px;
  font-family: TT Hoves;
}

.home__container {
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
}
.home__container .blockright {
  width: 770px;
  position: relative;
}
.home__container .blockright button {
  position: absolute;
  left: 0;
  bottom: 0;
}
.home__container .blockleft {
  width: calc(100% - 770px);
  padding-top: 336px;
}
.home__container .blockleft .mainName,
.home__container .blockleft button,
.home__container .blockleft .counter {
  margin-bottom: 80px;
}
.home__container .blockleft button {
  width: 53px;
  height: 53px;
  border: none;
}
.home__container .blockleft .button__arrow__left {
  background-image: url(../images/arrow-left.svg);
  margin-right: 10px;
  background-color: var(--main-color);
  border: 1px solid #bdbdbd;
}
.home__container .blockleft .button__arrow__left:hover {
  background-color: green;
}
.home__container .blockleft .button__arrow__right {
  background-image: url(../images/arrow-right.svg);
}

.mainPhoto {
  width: 100%;
  display: block;
}

.mainName {
  font-size: var(--biggest-size);
  line-height: 1;
  font-weight: 300;
}

.wordHome {
  color: var(--second-color);
  font-weight: 700;
}

.counter {
  display: flex;
  width: 142px;
  justify-content: space-between;
}
.counter p {
  font-size: var(--middle-size);
  line-height: 1;
  font-weight: 400;
}

.button__look {
  display: flex;
  align-items: center;
  padding: 24px 50px;
  font-size: var(--smallest-size);
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}
.button__look::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  fill: var(--main-color);
  stroke: var(--main-color);
  margin-left: 5px;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__container {
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
}

.about__container--center {
  display: flex;
  align-items: flex-end;
}

.about__photos {
  display: flex;
  align-items: flex-end;
}

.example__photo1 {
  width: 270px;
  margin-bottom: 30px;
}

.example__photo2 {
  width: 270px;
  display: block;
}

.example__photo3 {
  width: 270px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.about__photos--relative {
  margin-right: 30px;
  position: relative;
  top: 30px;
}

.about__info {
  width: 400px;
  margin-bottom: 30px;
}

.nameSection {
  font-size: var(--biggest-size);
  line-height: 1;
  color: #bdbdbd;
  font-weight: 300;
  margin-bottom: 30px;
}
.nameSection::first-letter {
  text-transform: uppercase;
}

.descriptionCompany {
  font-family: TT Hoves;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #000000;
  margin-bottom: 30px;
}

.about__read {
  display: flex;
  align-items: center;
  padding: 24px 93px;
  font-size: var(--smallest-size);
  text-transform: uppercase;
  background-color: var(--main-color);
  border: none;
}
.about__read::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  fill: var(--main-color);
  stroke: var(--main-color);
  margin-left: 5px;
}

.tasks {
  padding-top: 60px;
  padding-bottom: 60px;
}
.tasks .nameSection {
  margin-bottom: 60px;
}

.taskItem {
  display: flex;
  width: 50%;
}

.taskNumber {
  font-family: Inter;
  font-size: 200px;
  line-height: 0.85;
  font-weight: 900;
  color: #f2f2f2;
  margin-right: 10px;
}

.taskList {
  display: flex;
  justify-content: space-between;
}

.taskDescription {
  font-family: TT Hoves;
  font-size: 22px;
  line-height: 1.64;
  color: var(--second-color);
  font-weight: 400;
}

.taskDescription--first {
  width: 279px;
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.projectItem {
  position: relative;
  height: 255px;
  overflow: hidden;
}
.projectItem:nth-child(-n+2) {
  margin-bottom: 60px;
}
.projectItem:hover {
  cursor: pointer;
}
.projectItem:hover .project__overlay {
  visibility: visible;
  transform: translateY(0);
}

.project__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  visibility: hidden;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 500ms;
}

.project__details {
  width: 80%;
}

.projectPhoto {
  display: block;
}

.projectPhoto--1,
.projectPhoto--2 {
  width: 570px;
}

.projectPhoto--3 {
  width: 270px;
}

.projectPhoto--4 {
  width: 470px;
}

.projectPhoto--5 {
  width: 370px;
}

.projectName {
  font-family: TT Hoves;
  font-size: var(--biggest-size);
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  text-transform: uppercase;
}

.project__button__details {
  display: flex;
  align-items: center;
  font-size: 12px;
  background: transparent;
  border: none;
  color: var(--main-color);
}
.project__button__details::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right–white.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.project__button__allprojects {
  padding: 24px 39px;
  background-color: #000000;
  color: var(--main-color);
  display: flex;
  align-items: center;
  border: none;
  margin-left: auto;
  font-size: var(--smallest-size);
  line-height: 1;
}
.project__button__allprojects::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right–white.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.contact {
  padding-top: 60px;
  padding-bottom: 120px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form span {
  color: red;
  position: absolute;
  top: 12px;
}
.contact__form input,
.contact__form textarea {
  padding: 15px 21px;
  width: 391px;
  background-color: #f3f3f3;
  color: #8d8d8d;
  font-family: TT Hoves;
  font-size: var(--small-size);
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-align: left;
  border: none;
}

.contact__form__label {
  margin-bottom: 10px;
}

.policy {
  font-family: TT Hoves;
  font-size: var(--small-size);
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--second-color);
  width: 391px;
  padding-left: 40px;
  margin-bottom: 21px;
}

.contact__sendForm {
  padding: 30px 47px;
  background-color: #000000;
  color: var(--main-color);
  display: flex;
  align-items: center;
  border: none;
  margin-right: auto;
  font-size: var(--smallest-size);
  line-height: 1;
}
.contact__sendForm::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-right–white.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.contact__formAndPhoto {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
}

.contact__photo {
  width: 749px;
  display: block;
}

.contact__form__label--last {
  height: 147px;
}

.contact__form__input--last {
  height: 147px;
  resize: none;
}

.contact__form__label__phone,
.contact__form__label__email,
.contact__form__label__message {
  position: relative;
}

.phone__redstar {
  left: 128px;
}

.email__redstar {
  left: 63px;
}

.message__redstar {
  left: 96px;
}

.input__phone:valid + .phone__redstar {
  display: none;
}

.textarea:valid + .message__redstar {
  display: none;
}

.input__email:valid + .email__redstar {
  display: none;
}

.footer {
  background-color: #2c2c2c;
  color: var(--main-color);
  font-family: TT Hoves;
  font-size: var(--small-size);
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer a {
  color: var(--main-color);
}

.footer--flex {
  display: flex;
  padding-top: 58px;
  padding-bottom: 58px;
}

.footer__mainlogo {
  width: 145px;
  margin-right: 99px;
}

.footer__headline {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0px;
  margin-bottom: 25px;
}

.footer__info {
  margin-right: 157px;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__navigation__item::first-letter {
  text-transform: uppercase;
}
.footer__navigation__item:not(:last-child) {
  margin-bottom: 25px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contact__list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer__contact__address {
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
}
.footer__contact__address::before {
  content: "";
  display: block;
  background-image: url(../images/address-icon.svg);
  background-size: contain;
  width: 11px;
  height: 16px;
  margin-right: 10px;
}
.footer__contact__address:hover {
  cursor: pointer;
}

.footer__contact__phone {
  display: flex;
  align-items: center;
}
.footer__contact__phone::before {
  content: "";
  display: block;
  background-image: url(../images/phone-icon.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__contact__phone:hover {
  cursor: pointer;
}

.footer__contact__email {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.footer__contact__email::before {
  content: "";
  display: block;
  background-image: url(../images/letter-icon.svg);
  background-size: contain;
  width: 16px;
  height: 11px;
  margin-right: 10px;
}
.footer__contact__email:hover {
  cursor: pointer;
}

.footer__rights {
  text-align: center;
  color: rgba(200, 200, 200, 0.5);
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100vw;
}

.footer__social__list {
  display: flex;
  justify-content: space-between;
  width: 193px;
}

.footer__social__facebook::before {
  content: "";
  display: block;
  background-image: url(../images/facebook-icon.svg);
  background-size: contain;
  width: 10px;
  height: 19px;
}

.footer__social__twitter::before {
  content: "";
  display: block;
  background-image: url(../images/twitter-icon.svg);
  background-size: contain;
  width: 22px;
  height: 17px;
}

.footer__social__linkedin::before {
  content: "";
  display: block;
  background-image: url(../images/linkedin-icon.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
}

.footer__social__share::before {
  content: "";
  display: block;
  background-image: url(../images/shape-icon.svg);
  background-size: contain;
  width: 14px;
  height: 19px;
}/*# sourceMappingURL=index.css.map */