<section class="contact">
  <div class="container contact__container">
    <h2 class="nameSection">Связаться с нами</h2>

    <form name="signup_form">
      <div class="contact__formAndPhoto">
        <div class="contact__form">
          <label class="contact__form__label">
            <input name="name" placeholder="Имя" />
          </label>
          <label class="contact__form__label contact__form__label__phone">
            <input
              class="input__phone"
              type="tel"
              name="phone"
              required
              placeholder="Номер телефона"
            />
            <span class="phone__redstar">*</span>
          </label>
          <label class="contact__form__label contact__form__label__email">
            <input
              name="email"
              required
              placeholder="E-mail"
              class="input__email"
            />
            <span class="email__redstar">*</span>
          </label>
          <label class="contact__form__label">
            <input name="interest" placeholder="Интересующий товар/услуга" />
          </label>
          <label
            class="contact__form__label--last contact__form__label__message"
          >
            <textarea
              name="message"
              required
              placeholder="Сообщение"
              class="textarea contact__form__input--last"
            ></textarea>
            <span class="message__redstar">*</span>
          </label>
        </div>
        <img
          src="./images/contact-photo.jpg"
          alt="photo person with telephone"
          class="contact__photo"
        />
      </div>
      <p class="policy">
        Отправляя заявку Вы соглашаетесь с политикой конфиденциальности
      </p>
      <button type="submit" class="contact__sendForm">отправить</button>
    </form>
  </div>
</section>
