<section class="contact">
  <div class="container contact__container">
    <h2>Связаться с нами</h2>
    <div>
      <form name="signup_form">
        <label>
          <input name="name" />
        </label>
        <label>
          <input name="phone" required />
        </label>
        <label>
          <input type="email" name="email" required />
        </label>
        <label>
          <input name="interest" />
        </label>
        <label>
          <input name="message" required />
        </label>
        <p>Отправляя заявку Вы соглашаетесь с политикой конфиденциальности</p>
        <button type="submit">отправить</button>
      </form>
    </div>
  </div>
</section>
