<footer class="footer">
  <div class="container footer__container">
    <div>
      <a href="#"><img src="#" /></a>
      <div>
        <h3>Информация</h3>
        <nav>
          <ul>
            <li><a href="">ГЛАВНАЯ</a></li>
            <li><a href="">ГАЛЕРЕЯ</a></li>
            <li><a href="">ПРОЕКТЫ</a></li>
            <li><a href="">СЕРТИФИКАТЫ</a></li>
            <li><a href="">КОНТАКТЫ</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <h3>Контакты</h3>
        <p>dffdfdf</p>
        <p>dfdfdf</p>
        <p>dfdfff</p>
      </div>
      <div>
        <h3>Социальные сети</h3>
        <ul>
          <link rel="stylesheet" href="#" />
          <link rel="stylesheet" href="#" />
          <link rel="stylesheet" href="#" />
          <link rel="stylesheet" href="#" />
        </ul>
      </div>
    </div>
    <p>© 2019 Digital Project. Все права защищены.</p>
  </div>
</footer>
