<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <div class="blockleft">
        <a href="#"
          ><img src="./images/mainlogo.png" class="header__mainlogo"
        /></a>
      </div>
      <div class="blockright">
        <ul class="header__menu">
          <li class="header__menu__link link--current"><a href="">главная</a></li>
          <li class="header__menu__link"><a href="">галерея</a></li>
          <li class="header__menu__link"><a href="">проекты</a></li>
          <li class="header__menu__link"><a href="">сертификаты</a></li>
          <li class="header__menu__link"><a href="">контакты</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
