<section class="home">
  <div class="container home__container">
    <div class="blockleft">
      <h1 class="mainName">PROJECT <span class="wordHome">HOME</span></h1>
      <button class="button button__arrow button__arrow__left"></button>
      <button class="button button__arrow button__arrow__right"></button>

      <div class="counter">
        <p>01</p>
        /
        <p>02</p>
      </div>
    </div>
    <div class="blockright">
      <img src="./images/home-photo.jpg" alt="Main photo" class="mainPhoto" />
      <button class="button button__look">взглянуть</button>
    </div>
  </div>
</section>
