<section class="home">
  <div class="container home__container">
    <div>
      <h1>PROJECT HOME</h1>
      <button class="button button__arrow button__arrow__left">left</button>
      <button class="button button__arrow button__arrow__right">right</button>

      <div class="counter">
        <p>01</p>
        /
        <p>02</p>
      </div>
    </div>
    <div>
      <button class="button button__look">взглянуть</button>
      <img src="#" alt="Main photo" class="mainPhoto" />
    </div>
  </div>
</section>
