<!-- <section class="projects">
  <div class="container projects__container">
    <h2 class="nameSection">Наши проекты</h2>
    <ul class="projectList">
      <li class="projectItem">
        <img src="#" alt="project view" class="photo55" />
        <p>Name</p>
        <button>Подробнее</button>
      </li>
      <li class="projectItem">
        <img src="" alt="project view" />
        <p>Name</p>
        <button>Подробнее</button>
      </li>
      <li class="projectItem">
        <img src="" alt="project view" />
        <p>Name</p>
        <button>Подробнее</button>
      </li>
      <li class="projectItem">
        <img src="" alt="project view" />
        <p>Name</p>
        <button>Подробнее</button>
      </li>
      <li class="projectItem">
        <img src="" alt="project view" />
        <p>Name</p>
        <button>Подробнее</button>
      </li>
    </ul>
    <button>все проекты</button>
  </div>
</section>
 -->
