<section class="projects">
  <div class="container projects__container">
    <h2>Наши проекты</h2>
    <div>
      <ul>
        <li>
          <img />
          <p>Name</p>
          <button>Подробнее</button>
        </li>
        <li>
          <img />
          <p>Name</p>
          <button>Подробнее</button>
        </li>
      </ul>
      <ul>
        <li>
          <img />
          <p>Name</p>
          <button>Подробнее</button>
        </li>
        <li>
          <img />
          <p>Name</p>
          <button>Подробнее</button>
        </li>
        <li>
          <img />
          <p>Name</p>
          <button>подробнее</button>
        </li>
      </ul>
    </div>
    <button>все проекты</button>
  </div>
</section>
