<section class="projects">
  <div class="container projects__container">
    <h2 class="nameSection">Наши проекты</h2>
    <ul class="projectList">
      <li class="projectItem">
        <img
          src="./images/project1.jpg"
          alt="project"
          class="projectPhoto projectPhoto--1"
        />
        <div class="project__overlay">
          <div class="project__details">
            <p class="projectName">досуговый центр</p>
            <button class="project__button__details">подробнее</button>
          </div>
        </div>
      </li>
      <li class="projectItem">
        <img
          src="./images/project2.jpg"
          alt="project"
          class="projectPhoto projectPhoto--2"
        />
        <div class="project__overlay">
          <div class="project__details">
            <p class="projectName">project name</p>
            <button class="project__button__details">подробнее</button>
          </div>
        </div>
      </li>
      <li class="projectItem">
        <img
          src="./images/project3.jpg"
          alt="project"
          class="projectPhoto projectPhoto--3"
        />
        <div class="project__overlay">
          <div class="project__details">
            <p class="projectName">project name</p>
            <button class="project__button__details">подробнее</button>
          </div>
        </div>
      </li>
      <li class="projectItem">
        <img
          src="./images/project4.jpg"
          alt="project"
          class="projectPhoto projectPhoto--4"
        />
        <div class="project__overlay">
          <div class="project__details">
            <p class="projectName">project name</p>
            <button class="project__button__details">подробнее</button>
          </div>
        </div>
      </li>
      <li class="projectItem">
        <img
          src="./images/project5.jpg"
          alt="project"
          class="projectPhoto projectPhoto--5"
        />
        <div class="project__overlay">
          <div class="project__details">
            <p class="projectName">project name</p>
            <button class="project__button__details">подробнее</button>
          </div>
        </div>
      </li>
    </ul>
    <button class="project__button__allprojects">все проекты</button>
  </div>
</section>
