<section class="tasks">
  <div class="container tasks__container">
    <h2 class="nameSection">Основные задачи</h2>
    <div class="taskList">
      <div class="taskItem">
        <p class="taskNumber">1</p>
        <p class="taskDescription taskDescription--first">
          Создание комфортных условий и повышение качества обслуживания клиентов
        </p>
      </div>
      <div class="taskItem">
        <p class="taskNumber">2</p>
        <p class="taskDescription">
          Постоянно совершенствовать качество предоставляемых услуг путем
          обучения персонала, закупки нового оборудования и усиленной рекламы на
          рынке
        </p>
      </div>
    </div>
  </div>
</section>
